.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    /* border: solid salmon; */
    height: 400px;
    margin-left: 450px;
}

.recap{
    margin-bottom: 15px;
}

.checkoutForm{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.payer{
    width: 200px;
    margin-top: 60px;
    margin-left: 170px;
    margin-right: 100px;
    border: none;
    color: white;
    background-color: #2DB0BA;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-size: larger;
}

