header{
    border-bottom: solid #ECECEC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    height: 90%;
    width: auto;
  }

  .logo-vinted{
    height: 35px;
    width: 130px;
    margin-left: 100px;
  }
  
  .searchbar{
    width: 600px;
    height: 10px;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    align-content: center;
    margin: 10px;
    /* border-color: #2DB0BA; */
    box-shadow: none;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    border-radius: 5%;
    flex-direction: row;
  }

  .deconnexion{
  background-color: #D44122;
  color: white;
  margin: 2px;
  height: 30px;
  border-radius: 5px
}

.publier{
  background-color: #2DB0BA;
  color: white;
  margin: 2px;
  height: 30px;
  border-radius: 5px
}

.articles{
  background-color: #2DB0BA;
  color: white;
  margin: 2px;
  height: 30px;
  border-radius: 5px
}

.inscription{
  background-color: #2DB0BA;
  color: white;
  margin: 2px;
  height: 30px;
  border-radius: 5px
}

.connexion{
  background-color:white;
  color:#2DB0BA;
  border-color: 1px solid #2DB0BA ;
  margin: 2px;
  height: 30px;
  border-radius: 5px;
}