.App {
  text-align: center;
}

header{
  border-bottom: solid #ECECEC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 90%;
  width: auto;
}

.searchbar{
  width: 600px;
}

.signup-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 300px;
  margin: auto;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 300px;
  margin: auto;
}

.buttons{
  display: flex;
  justify-content: space-around;
  border-radius: 5%;
}

.deconnexion{
  background-color: red;
  color: white;
}

.publier{
  background-color: #017580;
  color: white;
}

.articles{
  background-color: #017580;
  color: white;
}

.inscription{
  background-color: #017580;
  color: white;
}

.connexion{
  background-color:white;
  color:#017580;
  border-color: #017580 ;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container>input{
  width: 550px;
  height: 30px;
}
