.App {
  text-align: center;
}

header{
  border-bottom: solid #ECECEC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 90%;
  width: auto;
}

.searchbar{
  width: 600px;
}

.signup-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 300px;
  margin: auto;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 300px;
  margin: auto;
}