.App {
  text-align: center;
}

.font-face-rt{
  font-family: "RobotoLight";
}

.signup-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 300px;
  margin: auto;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 300px;
  margin: auto;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container>input{
  width: 550px;
  height: 30px;
}
